@model Proje.ViewModel.ViewUsers
@{
	ViewData["Title"] = "Register";
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Kullanıcı Girişi</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="/Login_v1/images/icons/favicon.ico" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Login_v1/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Login_v1/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Login_v1/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Login_v1/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Login_v1/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Login_v1/css/util.css">
	<link rel="stylesheet" type="text/css" href="/Login_v1/css/main.css">
	<!--===============================================================================================-->
</head>
<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="/Login_v1/images/img-01.png" alt="IMG">
				</div>
				<form class="login100-form " asp-controller="GirisYap" asp-action="Register" method="post">
					<div asp-validation-summary="ModelOnly" class="text-danger small"></div>
					<span class="login100-form-title">Üye Kaydı</span>
					<div class="wrap-input100">
						<input asp-for="KullaniciTC" class="input100" type="text" name="KullaniciTC" placeholder="TC">
						<span asp-validation-for="KullaniciTC" class="text-danger small"></span>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 ">
						<input asp-for="KullaniciAdi" class="input100" type="text" name="KullaniciAdi" placeholder="İsim">
						<span asp-validation-for="KullaniciAdi" class="text-danger small"></span>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 ">
						<input asp-for="KullaniciMail" class="input100" type="text" name="KullaniciMail" placeholder="Email">
						<span asp-validation-for="KullaniciMail" class="text-danger small"></span>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100">
						<input asp-for="KullaniciSifre" class="input100" type="password" name="KullaniciSifre" placeholder="Şifre">
						<span asp-validation-for="KullaniciSifre" class="text-danger small"></span>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>

					<button type="submit" class="btn btn-primary">Kayıt Ol</button>
				</form>

			</div>
		</div>
	</div>

	<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/tilt/tilt.jquery.min.js"></script>
	<script>
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
	<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>
