
@{
    ViewData["Title"] = "Seferler";
    Layout = "~/Views/Shared/_testlayout.cshtml";
}
<br />
<br />
<section class="w3l-about-breadcrumb text-left">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
        <div class="container py-2">
            <h2 class="title">Seferler</h2>
            <ul class="breadcrumbs-custom-path mt-2">
                <li><a href="#url">Ana Sayfa</a></li>
                <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Seferler </li>
            </ul>
        </div>
    </div>
</section>
<section class="w3l-grids-3 py-5">
    <div class="container py-md-5">
        <div class="title-content text-left mb-lg-5 mb-4">
            <h3 class="sub-title">Seferler</h3>
           
        </div>
        <div class="row bottom-ab-grids">
            <!--/row-grids-->
            @for(int i=0;i<3;i++){
            <div class="col-lg-6 subject-card mt-lg-0 mt-4">
                <div class="subject-card-header p-4">
                    <a href="/Home/Index/" class="card_title p-lg-4d-block">
                        <div class="row align-items-center">
                            <div class="col-sm-5 subject-img">
                                <img src="/Traversal-Starter/assets/images/istanbulankara.png" class="img-fluid" alt="">
                            </div>
                            <div class="col-sm-7 subject-content mt-sm-0 mt-4">
                                <h4>İstanbul-Ankara</h4>
                                <p>1 saat 10 dakika</p>
                                <div class="dst-btm">
                                    <h6 class="">Başlayan Fiyatlarla </h6>
                                    <span>460 TL</span>
                                </div>
                                <p class="sub-para">Tek kişi fiyatlandırmasıdır!</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            }
            <div class="col-lg-6 subject-card mt-lg-0 mt-4">
                <div class="subject-card-header p-4">
                    <a href="#" class="card_title p-lg-4d-block">
                        <div class="row align-items-center">
                            <div class="col-sm-5 subject-img">
                                <img src="/Traversal-Starter/assets/images/ist1.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="col-sm-7 subject-content mt-sm-0 mt-4">
                                <h4>İzmir-İstanbul</h4>
                                <p>1 saat 10 dakika</p>
                                <div class="dst-btm">
                                    <h6 class="">Başlayan Fiyatlarla </h6>
                                    <span>590 TL</span>
                                </div>
                                <p class="sub-para">Tek kişi fiyatlandırmasıdır!</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!--//row-grids-->
            <!--/row-grids-->
            <div class="col-lg-6 subject-card mt-4">
                <div class="subject-card-header p-4">
                    <a href="#" class="card_title p-lg-4d-block">
                        <div class="row align-items-center">
                            <div class="col-sm-5 subject-img">
                                <img src="/Traversal-Starter/assets/images/ts1.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="col-sm-7 subject-content mt-sm-0 mt-4">
                                <h4>İstanbul-Trabzon</h4>
                                <p>1 saat 40 dakika</p>
                                <div class="dst-btm">
                                    <h6 class=""> Başlayan Fiyatlarla </h6>
                                    <span>660 TL</span>
                                </div>
                                <p class="sub-para">Tek kişi fiyatlandırmasıdır!</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 subject-card mt-4">
                <div class="subject-card-header p-4">
                    <a href="#" class="card_title p-lg-4d-block">
                        <div class="row align-items-center">
                            <div class="col-sm-5 subject-img">
                                <img src="/Traversal-Starter/assets/images/iz1.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="col-sm-7 subject-content mt-sm-0 mt-4">
                                <h4>Adana-İzmir</h4>
                                <p>1 saat 20 dakika</p>
                                <div class="dst-btm">
                                    <h6 class=""> Başlayan Fiyatlarla </h6>
                                    <span>965 TL</span>
                                </div>
                                <p class="sub-para">Tek kişi fiyatlandırmasıdır!</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!--//row-grids-->
            <!--/row-grids-->
            <div class="col-lg-6 subject-card mt-4">
                <div class="subject-card-header p-4">
                    <a href="#" class="card_title p-lg-4d-block">
                        <div class="row align-items-center">
                            <div class="col-sm-5 subject-img">
                                <img src="/Traversal-Starter/assets/images/ank2.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="col-sm-7 subject-content mt-sm-0 mt-4">
                                <h4>İzmir-Ankara</h4>
                                <p>1 saat</p>
                                <div class="dst-btm">
                                    <h6 class=""> Başlayan Fiyatlarla </h6>
                                    <span>607 TL</span>
                                </div>
                                <p class="sub-para">Tek kişi fiyatlandırmasıdır!</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 subject-card mt-4">
                <div class="subject-card-header p-4">
                    <a href="#" class="card_title p-lg-4d-block">
                        <div class="row align-items-center">
                            <div class="col-sm-5 subject-img">
                                <img src="/Traversal-Starter/assets/images/antalya.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="col-sm-7 subject-content mt-sm-0 mt-4">
                                <h4>İzmir-Antalya</h4>
                                <p>1 saat 5 dakika</p>
                                <div class="dst-btm">
                                    <h6 class=""> Başlayan Fiyatlarla </h6>
                                    <span>1065 TL</span>
                                </div>
                                <p class="sub-para">Tek kişi fiyatlandırmasıdır!</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 subject-card mt-4">
                <div class="subject-card-header p-4">
                    <a href="#" class="card_title p-lg-4d-block">
                        <div class="row align-items-center">
                            <div class="col-sm-5 subject-img">
                                <img src="/Traversal-Starter/assets/images/ist2.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="col-sm-7 subject-content mt-sm-0 mt-4">
                                <h4>Antalya-İstanbul</h4>
                                <p>1 saat</p>
                                <div class="dst-btm">
                                    <h6 class=""> Başlayan Fiyatlarla </h6>
                                    <span>1390 TL</span>
                                </div>
                                <p class="sub-para">Tek kişi fiyatlandırmasıdır!</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 subject-card mt-4">
                <div class="subject-card-header p-4">
                    <a href="#" class="card_title p-lg-4d-block">
                        <div class="row align-items-center">
                            <div class="col-sm-5 subject-img">
                                <img src="/Traversal-Starter/assets/images/balık.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="col-sm-7 subject-content mt-sm-0 mt-4">
                                <h4>Antalya-Balıkesir</h4>
                                <p>1 saat 20 dakika</p>
                                <div class="dst-btm">
                                    <h6 class=""> Başlayan Fiyatlarla </h6>
                                    <span>1700 TL</span>
                                </div>
                                <p class="sub-para">Tek kişi fiyatlandırmasıdır!</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 subject-card mt-4">
                <div class="subject-card-header p-4">
                    <a href="#" class="card_title p-lg-4d-block">
                        <div class="row align-items-center">
                            <div class="col-sm-5 subject-img">
                                <img src="/Traversal-Starter/assets/images/kocaeli.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="col-sm-7 subject-content mt-sm-0 mt-4">
                                <h4>İstanbul-Kocaeli</h4>
                                <p>30 dakika</p>
                                <div class="dst-btm">
                                    <h6 class=""> Başlayan Fiyatlarla </h6>
                                    <span>1700 TL</span>
                                </div>
                                <p class="sub-para">Tek kişi fiyatlandırmasıdır!</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 subject-card mt-4">
                <div class="subject-card-header p-4">
                    <a href="#" class="card_title p-lg-4d-block">
                        <div class="row align-items-center">
                            <div class="col-sm-5 subject-img">
                                <img src="/Traversal-Starter/assets/images/konya.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="col-sm-7 subject-content mt-sm-0 mt-4">
                                <h4>Ankara-Konya</h4>
                                <p>1 saat 10 dakika</p>
                                <div class="dst-btm">
                                    <h6 class=""> Başlayan Fiyatlarla </h6>
                                    <span>1800 TL</span>
                                </div>
                                <p class="sub-para">Tek kişi fiyatlandırmasıdır!</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 subject-card mt-4">
                <div class="subject-card-header p-4">
                    <a href="#" class="card_title p-lg-4d-block">
                        <div class="row align-items-center">
                            <div class="col-sm-5 subject-img">
                                <img src="/Traversal-Starter/assets/images/samsun.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="col-sm-7 subject-content mt-sm-0 mt-4">
                                <h4>Antalya-Samsun</h4>
                                <p>1 saat 30 dakika</p>
                                <div class="dst-btm">
                                    <h6 class=""> Başlayan Fiyatlarla </h6>
                                    <span>1800 TL</span>
                                </div>
                                <p class="sub-para">Tek kişi fiyatlandırmasıdır!</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 subject-card mt-4">
                <div class="subject-card-header p-4">
                    <a href="#" class="card_title p-lg-4d-block">
                        <div class="row align-items-center">
                            <div class="col-sm-5 subject-img">
                                <img src="/Traversal-Starter/assets/images/maras.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="col-sm-7 subject-content mt-sm-0 mt-4">
                                <h4>İzmir-Kahramanmaraş</h4>
                                <p>2 saat 10 dakika</p>
                                <div class="dst-btm">
                                    <h6 class=""> Başlayan Fiyatlarla </h6>
                                    <span>1500 TL</span>
                                </div>
                                <p class="sub-para">Tek kişi fiyatlandırmasıdır!</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 subject-card mt-4">
                <div class="subject-card-header p-4">
                    <a href="#" class="card_title p-lg-4d-block">
                        <div class="row align-items-center">
                            <div class="col-sm-5 subject-img">
                                <img src="/Traversal-Starter/assets/images/bodrum-merkez.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="col-sm-7 subject-content mt-sm-0 mt-4">
                                <h4>İstanbul-Bodrum</h4>
                                <p>1 saat 20 dakika</p>
                                <div class="dst-btm">
                                    <h6 class=""> Başlayan Fiyatlarla </h6>
                                    <span>700 TL</span>
                                </div>
                                <p class="sub-para">Tek kişi fiyatlandırmasıdır!</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 subject-card mt-4">
                <div class="subject-card-header p-4">
                    <a href="#" class="card_title p-lg-4d-block">
                        <div class="row align-items-center">
                            <div class="col-sm-5 subject-img">
                                <img src="/Traversal-Starter/assets/images/kastamonu.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="col-sm-7 subject-content mt-sm-0 mt-4">
                                <h4>İstanbul-Kastamonu</h4>
                                <p>1 saat 20 dakika</p>
                                <div class="dst-btm">
                                    <h6 class=""> Başlayan Fiyatlarla </h6>
                                    <span>900 TL</span>
                                </div>
                                <p class="sub-para">Tek kişi fiyatlandırmasıdır!</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 subject-card mt-4">
                <div class="subject-card-header p-4">
                    <a href="#" class="card_title p-lg-4d-block">
                        <div class="row align-items-center">
                            <div class="col-sm-5 subject-img">
                                <img src="/Traversal-Starter/assets/images/gazi.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="col-sm-7 subject-content mt-sm-0 mt-4">
                                <h4>Trabzon-Gaziantep</h4>
                                <p>1 saat 20 dakika</p>
                                <div class="dst-btm">
                                    <h6 class=""> Başlayan Fiyatlarla </h6>
                                    <span>1350 TL</span>
                                </div>
                                <p class="sub-para">Tek kişi fiyatlandırmasıdır!</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 subject-card mt-4">
                <div class="subject-card-header p-4">
                    <a href="#" class="card_title p-lg-4d-block">
                        <div class="row align-items-center">
                            <div class="col-sm-5 subject-img">
                                <img src="/Traversal-Starter/assets/images/ank3.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="col-sm-7 subject-content mt-sm-0 mt-4">
                                <h4>Çanakkale-Ankara</h4>
                                <p>1 saat 15 dakika</p>
                                <div class="dst-btm">
                                    <h6 class=""> Başlayan Fiyatlarla </h6>
                                    <span>1100 TL</span>
                                </div>
                                <p class="sub-para">Tek kişi fiyatlandırmasıdır!</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>
