@{
    ViewData["Title"] = "Ana Sayfa";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="w3-container w3-padding-32">
    <h2 class="w3-text-teal">B211210046 Hoşgeldiniz</h2>
  <br />

        <div class="w3-card w3-hover-shadow">
            <video width="100%" height="auto" controls>
            <source src="/css/Hayal Edince - Turk Hava Yollari.mp4" type="video/mp4">
               
            </video>
            <div class="w3-container">
                <br />
                <h3>Hayal Et...</h3>
                <p>Gerisi gelir...</p>
            </div>
        </div>
    </div>

    <div class="w3-row-padding w3-margin-top">
        <div class="w3-col l6 m6 w3-margin-bottom">
            <div class="w3-card w3-hover-shadow">
                <img src="/css/thumbs_b_c_391d49beb1612fb6c84d8f4884e91f1a.jpg" alt="Resim 1" style="width:100%">
                <div class="w3-container">
                    <br />
                    <h3>Türk Hava Yolları</h3>
                   
                </div>
            </div>
        </div>

        <div class="w3-col l6 m6 w3-margin-bottom">
            <div class="w3-card w3-hover-shadow">
                <img src="/css/thy-2047810.jpg" alt="Resim 2" style="width:100%">
                <div class="w3-container">
                    <br />
                    <h3>Türk Hava Yolları</h3>
                  
                </div>
            </div>
        </div>
    </div>
</div>


